{"filter":false,"title":"network.template","tooltip":"/resources/codebase_partner/network.template","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":684.9999847412108,"scrollleft":0,"selection":{"start":{"row":30,"column":17},"end":{"row":30,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":56,"state":"start","mode":"ace/mode/json"}},"timestamp":1696653171139,"hash":"c046f3e62ec32743eded7a3ea5098fa20736dd18"}